n8n/workflows/00_setup_sheet.json
{
  "name": "AI_Daily_Setup_Sheet",
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Rome"
  },
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-daily-setup-init",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "trg-webhook",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "a1b2c3d4-5e6f-7a8b-9c0d-1e2f3a4b5c6d"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "spreadsheetId",
              "value": "1yIzIep-XdRV7EVeWhjdpUps1PlF7tN6KymRjRgXGtuk",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-config",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [240, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $json.spreadsheetId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "options": {}
      },
      "id": "http-get-ss",
      "name": "Get Spreadsheet",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 0],
      "credentials": {
        "googleApi": {
          "id": "VjDfIwHmyAdswLjT",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Plan the sheets we need\nconst spreadsheetId = $('Config').first().json.spreadsheetId;\nconst existing = ($json.sheets || []).map(s => s.properties.title);\n\nconst REQUIRED = {\n  source_registry: ['source_id','name','url','type','tier','enabled','topic_scope','trust_score','notes'],\n  fallback_library: ['fallback_id','category','title','angle','target','priority','enabled'],\n  run_logs: ['run_id','run_date','mode','sources_total','sources_failed','raw_items_count','deduped_count','selected_count','telegram_status','notes','started_at','ended_at'],\n  ranked_items_history: ['run_id','item_id','title','url','source_name','published_at','primary_topic','candidate_score','publishable_score','confidence','selected_yes_no','selection_reason'],\n  content_history: ['content_id','run_id','item_id','mode','platform_pair','status','confidence_label','instagram_hook','instagram_script','instagram_caption','instagram_cta','linkedin_post','source_name','source_url','prompt_version'],\n  publication_feedback: ['content_id','published_yes_no','published_date','platform','views','likes','comments','saves','notes']\n};\n\nconst missing = Object.keys(REQUIRED).filter(t => !existing.includes(t));\nconst addRequests = missing.map(title => ({ addSheet: { properties: { title } } }));\n\n// Source registry seed\nconst SOURCE_ROWS = [\n  ['src_openai','OpenAI News','https://openai.com/news/rss.xml','rss','tier1','true','generative_ai|business_ai','0.95','Official'],\n  ['src_anthropic','Anthropic News','https://www.anthropic.com/news','html','tier1','true','generative_ai|business_ai','0.95','Official – HTML scrape'],\n  ['src_google_ai','Google AI Blog','https://blog.google/technology/ai/rss/','rss','tier1','true','generative_ai|business_ai','0.9','Official'],\n  ['src_deepmind','Google DeepMind Blog','https://deepmind.google/blog/rss.xml','rss','tier1','true','generative_ai','0.9','Official'],\n  ['src_hf','Hugging Face Blog','https://huggingface.co/blog/feed.xml','rss','tier1','true','generative_ai','0.85','Official'],\n  ['src_ms_ai','Microsoft AI Blog','https://blogs.microsoft.com/ai/feed/','rss','tier1','true','business_ai','0.85','Official'],\n  ['src_meta_ai','Meta AI Blog','https://ai.meta.com/blog/rss/','rss','tier1','true','generative_ai','0.85','Official'],\n  ['src_nvidia','NVIDIA Blog','https://blogs.nvidia.com/feed/','rss','tier1','true','generative_ai','0.8','Official'],\n  ['src_mistral','Mistral AI News','https://mistral.ai/news/','html','tier1','true','generative_ai','0.8','Official – HTML'],\n  ['src_techcrunch_ai','TechCrunch AI','https://techcrunch.com/category/artificial-intelligence/feed/','rss','tier2','true','business_ai','0.75','Trusted media'],\n  ['src_venturebeat','VentureBeat AI','https://venturebeat.com/category/ai/feed/','rss','tier2','true','business_ai','0.75','Trusted media'],\n  ['src_the_decoder','The Decoder','https://the-decoder.com/feed/','rss','tier2','true','generative_ai|business_ai','0.7','Trusted media'],\n  ['src_theverge_ai','The Verge AI','https://www.theverge.com/rss/ai-artificial-intelligence/index.xml','rss','tier2','true','generative_ai|business_ai','0.7','Trusted media'],\n  ['src_mit_tech','MIT Tech Review AI','https://www.technologyreview.com/feed/','rss','tier2','true','generative_ai|business_ai','0.8','Trusted media']\n];\n\n// Fallback library seed\nconst FALLBACK_ROWS = [\n  ['fb_001','evergreen','Come capire se una news AI conta davvero per un business','Framework valutativo per filtrare segnale vs rumore','sme|entrepreneur','high','true'],\n  ['fb_002','evergreen','3 segnali per distinguere hype da impatto reale','Checklist anti-hype per decisori','entrepreneur|solo_pro','high','true'],\n  ['fb_003','practical','Dove l\\u2019AI sta gi\\u00e0 facendo risparmiare tempo alle PMI','Casi operativi concreti','sme','high','true'],\n  ['fb_004','practical','Cosa guardare davvero quando esce un nuovo tool AI','Criteri di valutazione veloci','solo_pro|sme','medium','true'],\n  ['fb_005','practical','Gli errori pi\\u00f9 comuni quando si prova a usare l\\u2019AI in azienda','Anti-pattern da evitare','sme|entrepreneur','high','true'],\n  ['fb_006','trend','Perch\\u00e9 molte novit\\u00e0 AI non cambiano nulla nel lavoro quotidiano','Punto di vista critico ma costruttivo','entrepreneur|solo_pro','medium','true'],\n  ['fb_007','practical','Come trasformare una novit\\u00e0 AI in vantaggio operativo concreto','Metodo step-by-step','sme|solo_pro','high','true']\n];\n\nreturn [{\n  json: {\n    spreadsheetId,\n    missingSheets: missing,\n    addRequests,\n    headers: REQUIRED,\n    seeds: {\n      source_registry: SOURCE_ROWS,\n      fallback_library: FALLBACK_ROWS\n    }\n  }\n}];"
      },
      "id": "plan-sheets",
      "name": "Plan Sheets",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.missingSheets.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-missing",
      "name": "Any Missing?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [960, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $json.spreadsheetId }}:batchUpdate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ requests: $json.addRequests }) }}",
        "options": {}
      },
      "id": "http-add-sheets",
      "name": "Create Missing Tabs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, -120],
      "credentials": {
        "googleApi": {
          "id": "VjDfIwHmyAdswLjT",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Build PUT value operations for all tabs: headers + seeds\nconst cfg = $('Plan Sheets').first().json;\nconst ops = [];\nfor (const [tab, cols] of Object.entries(cfg.headers)) {\n  ops.push({ tab, range: `${tab}!A1`, values: [cols] });\n  const seed = cfg.seeds[tab];\n  if (seed && seed.length) {\n    ops.push({ tab, range: `${tab}!A2`, values: seed });\n  }\n}\nreturn ops.map(o => ({ json: { spreadsheetId: cfg.spreadsheetId, ...o } }));"
      },
      "id": "build-ops",
      "name": "Build Value Ops",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1440, 0]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $json.spreadsheetId }}/values/{{ encodeURIComponent($json.range) }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "valueInputOption", "value": "USER_ENTERED" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ range: $json.range, majorDimension: 'ROWS', values: $json.values }) }}",
        "options": {}
      },
      "id": "http-put-values",
      "name": "Write Headers / Seeds",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1680, 0],
      "credentials": {
        "googleApi": {
          "id": "VjDfIwHmyAdswLjT",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Webhook Trigger": { "main": [[{ "node": "Config", "type": "main", "index": 0 }]] },
    "Config": { "main": [[{ "node": "Get Spreadsheet", "type": "main", "index": 0 }]] },
    "Get Spreadsheet": { "main": [[{ "node": "Plan Sheets", "type": "main", "index": 0 }]] },
    "Plan Sheets": { "main": [[{ "node": "Any Missing?", "type": "main", "index": 0 }]] },
    "Any Missing?": {
      "main": [
        [{ "node": "Create Missing Tabs", "type": "main", "index": 0 }],
        [{ "node": "Build Value Ops", "type": "main", "index": 0 }]
      ]
    },
    "Create Missing Tabs": { "main": [[{ "node": "Build Value Ops", "type": "main", "index": 0 }]] },
    "Build Value Ops": { "main": [[{ "node": "Write Headers / Seeds", "type": "main", "index": 0 }]] }
  }
}
