n8n/workflows/01_intelligence.json
{
  "name": "AI_Daily_Intelligence",
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Rome"
  },
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            { "field": "cronExpression", "expression": "0 0 8 * * 1-5" }
          ]
        }
      },
      "id": "trg-schedule",
      "name": "Schedule M-F 08:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "c1", "name": "spreadsheetId",      "value": "1yIzIep-XdRV7EVeWhjdpUps1PlF7tN6KymRjRgXGtuk", "type": "string" },
            { "id": "c2", "name": "modelMain",          "value": "anthropic/claude-sonnet-4.5", "type": "string" },
            { "id": "c3", "name": "modelQC",            "value": "openai/gpt-4o-mini",          "type": "string" },
            { "id": "c4", "name": "candidateMin",       "value": "5",                            "type": "number" },
            { "id": "c5", "name": "publishableMin",     "value": "6",                            "type": "number" },
            { "id": "c6", "name": "confidenceMin",      "value": "0.55",                         "type": "number" },
            { "id": "c7", "name": "contentFactoryId",   "value": "PLACEHOLDER_WF2_ID",           "type": "string" },
            { "id": "c8", "name": "deliveryWorkflowId", "value": "PLACEHOLDER_WF3_ID",           "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "cfg",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [240, 0]
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst run_id = `run_${now.toISOString().slice(0,10)}_${now.getTime()}`;\nconst started_at = now.toISOString();\nconst fromMs = now.getTime() - 72*3600*1000;\nreturn [{ json: { run_id, started_at, window_from: new Date(fromMs).toISOString(), window_to: now.toISOString() } }];"
      },
      "id": "init",
      "name": "Init Run",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 0]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "resource": "sheet",
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1yIzIep-XdRV7EVeWhjdpUps1PlF7tN6KymRjRgXGtuk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "source_registry",
          "mode": "name"
        },
        "options": {}
      },
      "id": "read-sources",
      "name": "Read source_registry",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [720, 0],
      "credentials": {
        "googleApi": { "id": "VjDfIwHmyAdswLjT", "name": "Google Sheets account" }
      }
    },
    {
      "parameters": {
        "jsCode": "// Filter enabled sources; coerce numeric trust_score.\nconst items = $input.all().map(i => i.json).filter(r => String(r.enabled||'').toLowerCase() === 'true' && r.url);\nreturn items.map(s => ({ json: {\n  source_id: s.source_id || '',\n  name: s.name || '',\n  url: s.url,\n  type: String(s.type||'rss').toLowerCase(),\n  tier: s.tier || 'tier2',\n  topic_scope: s.topic_scope || '',\n  trust_score: typeof s.trust_score === 'number' ? s.trust_score : parseFloat(s.trust_score || '0.5'),\n  notes: s.notes || ''\n}}));"
      },
      "id": "parse-sources",
      "name": "Filter Enabled Sources",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 0]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" },
                "conditions": [
                  { "id": "r1", "leftValue": "={{ $json.type }}", "rightValue": "rss", "operator": { "type": "string", "operation": "equals" } }
                ],
                "combinator": "and"
              },
              "outputKey": "rss"
            },
            {
              "conditions": {
                "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" },
                "conditions": [
                  { "id": "r2", "leftValue": "={{ $json.type }}", "rightValue": "html", "operator": { "type": "string", "operation": "equals" } }
                ],
                "combinator": "and"
              },
              "outputKey": "html"
            }
          ]
        },
        "options": { "fallbackOutput": "extra" }
      },
      "id": "route-type",
      "name": "Route by Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [1200, 0]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "id": "rss-read",
      "name": "RSS Feed Read",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [1440, -160],
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.url }}",
        "options": {
          "response": { "response": { "responseFormat": "text" } },
          "timeout": 20000
        }
      },
      "id": "html-fetch",
      "name": "HTTP Fetch HTML",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1440, 160],
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "jsCode": "// Normalize RSS items + apply date window early to keep memory low.\nconst run = $('Init Run').first().json;\nconst windowFrom = new Date(run.window_from).getTime();\nconst windowTo = new Date(run.window_to).getTime();\nconst out = [];\nfor (const it of $input.all()) {\n  const r = it.json;\n  const ms = r.isoDate ? new Date(r.isoDate).getTime() : (r.pubDate ? new Date(r.pubDate).getTime() : (r.published ? new Date(r.published).getTime() : null));\n  if (ms != null && (ms < windowFrom || ms > windowTo)) continue;\n  out.push({\n    title: (r.title || '').slice(0, 280),\n    url: r.link || r.url || '',\n    summary: (r.contentSnippet || r.description || r.content || '').replace(/<[^>]+>/g,' ').replace(/\\s+/g,' ').slice(0, 400),\n    published_at: r.isoDate || r.pubDate || r.published || null,\n    raw_type: 'rss'\n  });\n}\nreturn out.map(o => ({ json: o }));"
      },
      "id": "normalize-rss",
      "name": "Normalize RSS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1680, -160]
    },
    {
      "parameters": {
        "jsCode": "// HTML anchor extraction. Resolves relative URLs via canonical/og:url or by\n// counting frequency of known HTML-source hostnames in the body.\nconst KNOWN_HTML_HOSTS = ['www.anthropic.com','anthropic.com','mistral.ai','www.mistral.ai','x.ai','www.x.ai','www.perplexity.ai','perplexity.ai'];\nconst out = [];\nfor (const it of $input.all()) {\n  const body = String(it.json.data || it.json.body || it.json.response || '').slice(0, 250000);\n  // 1) canonical / og:url / twitter:url\n  let origin = '';\n  const canon = body.match(/<link[^>]+rel=[\"']canonical[\"'][^>]+href=[\"']([^\"']+)[\"']/i)\n             || body.match(/<meta[^>]+property=[\"']og:url[\"'][^>]+content=[\"']([^\"']+)[\"']/i)\n             || body.match(/<meta[^>]+name=[\"']twitter:url[\"'][^>]+content=[\"']([^\"']+)[\"']/i);\n  if (canon) { const om = canon[1].match(/^(https?:\\/\\/[^\\/?#]+)/i); if (om) origin = om[1]; }\n  // 2) Frequency-match among known HTML hosts\n  if (!origin) {\n    const hostCounts = {};\n    const hostRe = /https?:\\/\\/([^\\/\"'?#\\s>]+)/gi;\n    let hm;\n    while ((hm = hostRe.exec(body)) !== null) {\n      const h = hm[1].toLowerCase();\n      if (KNOWN_HTML_HOSTS.includes(h)) hostCounts[h] = (hostCounts[h]||0)+1;\n    }\n    const top = Object.entries(hostCounts).sort((a,b)=>b[1]-a[1])[0];\n    if (top) origin = 'https://' + top[0];\n  }\n  const anchorRe = /<a[^>]+href=[\"']([^\"']+)[\"'][^>]*>([\\s\\S]*?)<\\/a>/gi;\n  const seen = new Set();\n  let m, count=0;\n  while ((m = anchorRe.exec(body)) !== null && count < 30) {\n    let href = m[1];\n    if (href.startsWith('/') && origin) href = origin + href;\n    if (!/^https?:\\/\\//.test(href)) continue;\n    let text = m[2].replace(/<[^>]+>/g,' ').replace(/\\s+/g,' ').trim();\n    text = text.replace(/^(Product|Announcements?|Research|Policy|Engineering|News|Blog)?\\s*(Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]*\\s*\\d{1,2},?\\s*\\d{4}\\s*(Product|Announcements?|Research|Policy|Engineering|News|Blog)?\\s*/i,'').trim();\n    if (text.length < 20 || text.length > 350) continue;\n    const key = href.split('#')[0];\n    if (seen.has(key)) continue;\n    seen.add(key);\n    out.push({ title: text.slice(0,300), url: href, summary: '', published_at: null, raw_type: 'html' });\n    count++;\n  }\n}\nreturn out.map(o => ({ json: o }));"
      },
      "id": "normalize-html",
      "name": "Normalize HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1680, 160]
    },
    {
      "parameters": {
        "mode": "append",
        "options": {}
      },
      "id": "merge",
      "name": "Merge All",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [1920, 0]
    },
    {
      "parameters": {
        "jsCode": "// Dedupe + window filter + source enrichment (by URL domain).\nconst run = $('Init Run').first().json;\nconst windowFrom = new Date(run.window_from).getTime();\nconst windowTo = new Date(run.window_to).getTime();\nfunction domain(u){ if(!u) return ''; const m = String(u).match(/^https?:\\/\\/([^\\/?#]+)/i); if(!m) return ''; return m[1].replace(/^www\\./,'').toLowerCase(); }\nfunction canonical(u){ if(!u) return ''; let s = String(u).split('#')[0]; const qi = s.indexOf('?'); if (qi >= 0){ const base = s.slice(0, qi); const qs = s.slice(qi+1); const drop = new Set(['utm_source','utm_medium','utm_campaign','utm_term','utm_content','gclid','fbclid','ref','ref_src','_bhlid']); const kept = qs.split('&').filter(p => p && !drop.has(p.split('=')[0].toLowerCase())); s = kept.length ? base + '?' + kept.join('&') : base; } return s.replace(/\\/$/,'').toLowerCase(); }\nfunction normTitle(t){ return String(t||'').toLowerCase().replace(/[^a-z0-9 ]+/g,' ').replace(/\\s+/g,' ').trim(); }\n// Build source map by domain. Try cross-node ref first; if empty (Route-by-Type\n// downstream context sometimes drops it) fall back to a hardcoded map.\nlet sources = [];\ntry { sources = $('Filter Enabled Sources').all().map(i=>i.json).filter(Boolean); } catch(e){ sources = []; }\nconst byDomain = {};\nfor (const s of sources){ const d = domain(s.url); if (d && !byDomain[d]) byDomain[d] = s; }\nconst FALLBACK_SOURCES = {\n  'openai.com':         { name:'OpenAI News',             tier:'tier1', trust_score:0.95 },\n  'anthropic.com':      { name:'Anthropic News',          tier:'tier1', trust_score:0.95 },\n  'blog.google':        { name:'Google AI Blog',          tier:'tier1', trust_score:0.9  },\n  'deepmind.google':    { name:'Google DeepMind Blog',    tier:'tier1', trust_score:0.9  },\n  'huggingface.co':     { name:'Hugging Face Blog',       tier:'tier1', trust_score:0.85 },\n  'blogs.microsoft.com':{ name:'Microsoft AI Blog',       tier:'tier1', trust_score:0.85 },\n  'ai.meta.com':        { name:'Meta AI Blog',            tier:'tier1', trust_score:0.85 },\n  'blogs.nvidia.com':   { name:'NVIDIA Blog',             tier:'tier1', trust_score:0.8  },\n  'mistral.ai':         { name:'Mistral AI News',         tier:'tier1', trust_score:0.8  },\n  'x.ai':               { name:'xAI News',                tier:'tier1', trust_score:0.75 },\n  'perplexity.ai':      { name:'Perplexity Blog',         tier:'tier1', trust_score:0.7  },\n  'aws.amazon.com':     { name:'AWS Machine Learning Blog',tier:'tier1', trust_score:0.85 },\n  'cohere.com':         { name:'Cohere Blog',             tier:'tier1', trust_score:0.85 },\n  'databricks.com':     { name:'Databricks Blog',         tier:'tier1', trust_score:0.8  },\n  'stability.ai':       { name:'Stability AI News',       tier:'tier1', trust_score:0.75 },\n  'machinelearning.apple.com':{ name:'Apple Machine Learning', tier:'tier1', trust_score:0.75 },\n  'techcrunch.com':     { name:'TechCrunch AI',           tier:'tier2', trust_score:0.75 },\n  'venturebeat.com':    { name:'VentureBeat AI',          tier:'tier2', trust_score:0.75 },\n  'the-decoder.com':    { name:'The Decoder',             tier:'tier2', trust_score:0.7  },\n  'theverge.com':       { name:'The Verge AI',            tier:'tier2', trust_score:0.7  },\n  'technologyreview.com':{ name:'MIT Tech Review AI',     tier:'tier2', trust_score:0.8  },\n  'spectrum.ieee.org':  { name:'IEEE Spectrum AI',        tier:'tier2', trust_score:0.8  },\n  'latent.space':       { name:'Latent Space',            tier:'tier2', trust_score:0.75 },\n  'importai.substack.com':{ name:'Import AI',             tier:'tier2', trust_score:0.85 },\n  'artificialintelligence-news.com':{ name:'AI News',     tier:'tier2', trust_score:0.7  },\n  'marktechpost.com':   { name:'MarkTechPost',            tier:'tier2', trust_score:0.65 },\n  'news.crunchbase.com':{ name:'Crunchbase News - AI',    tier:'tier2', trust_score:0.75 },\n  'simonwillison.net':  { name:'Simon Willison',          tier:'tier2', trust_score:0.8  },\n  'arstechnica.com':    { name:'Ars Technica AI',         tier:'tier2', trust_score:0.8  },\n  'wired.com':          { name:'Wired AI',                tier:'tier2', trust_score:0.75 },\n  'a16z.com':           { name:'a16z',                    tier:'tier2', trust_score:0.7  },\n  'sequoiacap.com':     { name:'Sequoia Capital',         tier:'tier2', trust_score:0.7  }\n};\nfunction lookup(d){\n  if (!d) return null;\n  if (byDomain[d]) return byDomain[d];\n  if (FALLBACK_SOURCES[d]) return FALLBACK_SOURCES[d];\n  // try bare domain (strip subdomain down to 2 components)\n  const parts = d.split('.'); if (parts.length > 2) { const bare = parts.slice(-2).join('.'); if (FALLBACK_SOURCES[bare]) return FALLBACK_SOURCES[bare]; }\n  return null;\n}\nfunction enrich(r){\n  const src = lookup(domain(r.url)) || {};\n  return {\n    ...r,\n    source_name: r.source_name || src.name || '',\n    source_tier: r.source_tier || src.tier || '',\n    source_trust: (typeof r.source_trust==='number' ? r.source_trust : (typeof src.trust_score==='number' ? src.trust_score : 0.4))\n  };\n}\nconst raw = $input.all().map(i=>enrich(i.json)).filter(x=>x && (x.title||x.url));\nconst map = new Map();\nlet rawCount=0, dateKept=0;\nfor (const r of raw){\n  rawCount++;\n  const ms = r.published_at ? new Date(r.published_at).getTime() : null;\n  const inWin = ms==null ? true : (ms>=windowFrom && ms<=windowTo);\n  if(!inWin) continue;\n  dateKept++;\n  const cu = canonical(r.url);\n  const nt = normTitle(r.title);\n  const key = cu || `t:${nt}`;\n  const prev = map.get(key);\n  if(!prev){ map.set(key,r); continue; }\n  if (r.source_trust > prev.source_trust) map.set(key,r);\n  else if (r.source_trust === prev.source_trust && (r.summary||'').length > (prev.summary||'').length) map.set(key,r);\n}\n// Rank preliminarily by source_trust + recency, cap to top 40 to keep payload safe.\nconst dedupedAll = Array.from(map.values())\n  .sort((a,b) => (b.source_trust - a.source_trust) || ((new Date(b.published_at||0)) - (new Date(a.published_at||0))));\nconst deduped = dedupedAll.slice(0, 40).map((r,i)=>({\n  item_id:`i_${run.run_id}_${i}`, title:r.title||'', url:r.url||'', canonical_url:canonical(r.url),\n  source_name:r.source_name||'', source_tier:r.source_tier||'', source_trust:r.source_trust,\n  published_at:r.published_at||null, summary:(r.summary||'').slice(0,400),\n  raw_type:r.raw_type||'', primary_topic:''\n}));\nreturn [{ json: { run_id:run.run_id, started_at:run.started_at, window_from:run.window_from, window_to:run.window_to, raw_items_count:rawCount, dated_kept:dateKept, deduped_count:deduped.length, total_dedup_pool: dedupedAll.length, sources_seen: Object.keys(byDomain).length, items:deduped }}];"
      },
      "id": "dedupe",
      "name": "Dedupe + Filter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2160, 0]
    },
    {
      "parameters": {
        "jsCode": "// Build batched OpenRouter scoring request. Cap at 25 items (already sorted\n// by trust_score in Dedupe + Filter) to keep the LLM response within max_tokens.\nconst cfg = $('Config').first().json;\nconst data = $json;\nconst items = (data.items || []).slice(0, 25);\nif (!items.length) return [{ json: { ...data, skip_llm: true, scored_items: [] } }];\nconst system = `Sei un analista senior di AI/business. Valuti news AI per un pubblico italiano di imprenditori, PMI e liberi professionisti. Obiettivo: identificare news con takeaway pratico per il business (posizionamento, lead gen futura). Fonti ufficiali (openai.com, anthropic.com, blog.google, ai.meta.com, huggingface.co, microsoft.com, nvidia.com, mistral.ai) vanno premiate sul source_authority. Output: SOLO JSON valido.`;\nconst criteria = `Scoring 0-10 (sii generoso quando c'è un takeaway chiaro per un imprenditore/PMI):\\n- candidate_score: quanto merita almeno un'analisi (news concreta, nuovo tool/release, trend rilevante)\\n- publishable_score: quanto è pronto per un pacchetto editoriale oggi (news forte + narrativa costruibile)\\n- confidence: 0-1, grado di certezza sui fatti\\n- primary_topic: tag breve\\n- rationale: 1 frase in italiano\\n\\nPremia: release/prodotti/tool AI usabili in azienda, posizionamenti strategici delle big lab, numeri o dati concreti, implicazioni per mercato/lavoro. Penalizza SOLO: hype puro senza fatti, paper accademici senza risvolti business, minor patch notes, chiacchiere di settore.`;\nconst userPayload = {\n  task:'score_items', criteria,\n  required_output_schema:{ scores:[{ item_id:'string', candidate_score:'0-10', publishable_score:'0-10', confidence:'0-1', primary_topic:'string', rationale:'1 frase' }]},\n  items: items.map(it=>({ item_id:it.item_id, title:it.title, url:it.url, source_name:it.source_name, source_tier:it.source_tier, published_at:it.published_at, summary:(it.summary||'').slice(0,500) }))\n};\nconst body = { model: cfg.modelMain, temperature:0.1, max_tokens:5500, response_format:{type:'json_object'}, messages:[{role:'system',content:system},{role:'user',content:JSON.stringify(userPayload)}] };\nreturn [{ json: { ...data, openrouter_body: body } }];"
      },
      "id": "build-score",
      "name": "Build Scoring Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2400, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openRouterApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "X-Title", "value": "AI Daily Intelligence" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.openrouter_body) }}",
        "options": {
          "timeout": 120000,
          "response": { "response": { "responseFormat": "json" } }
        }
      },
      "id": "llm-score",
      "name": "OpenRouter Score",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2640, 0],
      "credentials": {
        "openRouterApi": { "id": "mpMk74pCZg2Efk6i", "name": "OpenRouter account" }
      },
      "retryOnFail": true,
      "maxTries": 2,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Parse scores, apply thresholds, select mode.\nconst cfg = $('Config').first().json;\nconst dataNode = $('Dedupe + Filter').first().json;\nconst items = dataNode.items || [];\nfunction parse(s){\n  if (!s) return null;\n  let t = String(s).trim();\n  // strip markdown fences like ```json ... ``` or ``` ... ```\n  const m = t.match(/```(?:json)?\\s*([\\s\\S]*?)```/i);\n  if (m) t = m[1].trim();\n  try { return JSON.parse(t); } catch(e){}\n  // fallback: find outermost {...}\n  const a = t.indexOf('{'), b = t.lastIndexOf('}');\n  if (a>=0 && b>a) { try { return JSON.parse(t.slice(a,b+1)); } catch(e){} }\n  return null;\n}\nlet parsed = null;\nconst resp = $json;\nconst choices = resp.choices || (resp.body && resp.body.choices);\nif (choices && choices[0]) parsed = parse(choices[0].message?.content);\nconst scoresById = {};\nif (parsed && Array.isArray(parsed.scores)) { for (const s of parsed.scores) scoresById[s.item_id]=s; }\nconst enriched = items.map(it=>{\n  const s = scoresById[it.item_id] || {};\n  return { ...it,\n    candidate_score: typeof s.candidate_score==='number'?s.candidate_score:0,\n    publishable_score: typeof s.publishable_score==='number'?s.publishable_score:0,\n    confidence: typeof s.confidence==='number'?s.confidence:0,\n    primary_topic: s.primary_topic||'',\n    rationale: s.rationale||''\n  };\n});\nconst candMin = Number(cfg.candidateMin)||7;\nconst pubMin  = Number(cfg.publishableMin)||8;\nconst confMin = Number(cfg.confidenceMin)||0.75;\nconst publishable = enriched.filter(x=>x.candidate_score>=candMin && x.publishable_score>=pubMin && x.confidence>=confMin).sort((a,b)=>(b.publishable_score-a.publishable_score)||(b.confidence-a.confidence));\nconst candidates  = enriched.filter(x=>x.candidate_score>=candMin && !publishable.includes(x)).sort((a,b)=>b.candidate_score-a.candidate_score);\nlet mode;\nif (!enriched.length) mode='HARD_STOP';\nelse if (publishable.length>=3) mode='FULL_NEWS';\nelse if (publishable.length>=1) mode='HYBRID';\nelse if (candidates.length>=2) mode='MONITOR_ONLY';\nelse mode='FALLBACK';\nconst selected = publishable.slice(0,3);\nconst backup = candidates.slice(0,2);\nconst shortlist = [...selected, ...candidates.slice(0, Math.max(0,5-selected.length))].slice(0,5).map(x=>({ title:x.title, reason:x.rationale || `score ${x.publishable_score}` }));\nreturn [{ json: {\n  run_id: dataNode.run_id, started_at: dataNode.started_at, mode, enriched,\n  selected_items: selected, backup_items: backup, shortlist,\n  meta: { sources_total:0, sources_failed:0, raw_items_count:dataNode.raw_items_count, deduped_count:dataNode.deduped_count, selected_count:selected.length }\n}}];"
      },
      "id": "parse-scores",
      "name": "Parse Scores + Select Mode",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2880, 0]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "resource": "sheet",
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1yIzIep-XdRV7EVeWhjdpUps1PlF7tN6KymRjRgXGtuk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "fallback_library",
          "mode": "name"
        },
        "options": {}
      },
      "id": "read-fallback",
      "name": "Read fallback_library",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [3120, 0],
      "credentials": {
        "googleApi": { "id": "VjDfIwHmyAdswLjT", "name": "Google Sheets account" }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Build single-item envelope for downstream WF2 + WF3.\nconst intel = $('Parse Scores + Select Mode').first().json;\nconst fbItems = $input.all().map(i=>i.json).filter(r=> String(r.enabled||'').toLowerCase()==='true');\nconst rank = { high:0, medium:1, low:2 };\nfbItems.sort((a,b) => (rank[a.priority]??1) - (rank[b.priority]??1));\nreturn [{ json: {\n  run_id: intel.run_id,\n  started_at: intel.started_at,\n  mode: intel.mode,\n  selected_items: intel.selected_items,\n  backup_items: intel.backup_items,\n  fallback_items: fbItems.slice(0,3),\n  shortlist: intel.shortlist,\n  meta: intel.meta,\n  note: ''\n}}];"
      },
      "id": "build-envelope",
      "name": "Build Envelope",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3360, -120]
    },
    {
      "parameters": {
        "jsCode": "// Emit one item per enriched ranked row for the Append node.\nconst intel = $('Parse Scores + Select Mode').first().json;\nconst selectedIds = new Set((intel.selected_items||[]).map(s=>s.item_id));\nconst rows = (intel.enriched||[]).map(x => ({\n  run_id: intel.run_id,\n  item_id: x.item_id,\n  title: x.title,\n  url: x.url,\n  source_name: x.source_name || '',\n  published_at: x.published_at || '',\n  primary_topic: x.primary_topic || '',\n  candidate_score: x.candidate_score,\n  publishable_score: x.publishable_score,\n  confidence: x.confidence,\n  selected_yes_no: selectedIds.has(x.item_id) ? 'yes' : 'no',\n  selection_reason: x.rationale || ''\n}));\nreturn rows.map(r => ({ json: r }));"
      },
      "id": "build-ranked-rows",
      "name": "Build Ranked Rows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3360, 120]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "resource": "sheet",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1yIzIep-XdRV7EVeWhjdpUps1PlF7tN6KymRjRgXGtuk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "ranked_items_history",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "append-ranked",
      "name": "Append ranked_items_history",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [3600, 120],
      "credentials": {
        "googleApi": { "id": "VjDfIwHmyAdswLjT", "name": "Google Sheets account" }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "={{ $('Config').first().json.contentFactoryId }}",
          "mode": "id"
        },
        "mode": "each",
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "run_id": "={{ $json.run_id }}",
            "mode": "={{ $json.mode }}",
            "started_at": "={{ $json.started_at }}",
            "selected_items": "={{ $json.selected_items }}",
            "backup_items": "={{ $json.backup_items }}",
            "fallback_items": "={{ $json.fallback_items }}",
            "shortlist": "={{ $json.shortlist }}",
            "meta": "={{ $json.meta }}"
          }
        },
        "options": {}
      },
      "id": "call-factory",
      "name": "Call Content Factory",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [3600, -120]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "={{ $('Config').first().json.deliveryWorkflowId }}",
          "mode": "id"
        },
        "mode": "each",
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "run_id": "={{ $json.run_id }}",
            "mode": "={{ $json.mode }}",
            "started_at": "={{ $json.started_at }}",
            "shortlist": "={{ $json.shortlist }}",
            "content_packages": "={{ $json.packages || [] }}",
            "meta": "={{ $json.meta }}",
            "note": "={{ $json.note || '' }}"
          }
        },
        "options": {}
      },
      "id": "call-delivery",
      "name": "Call Delivery",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [3840, -120]
    }
  ],
  "connections": {
    "Schedule M-F 08:00": { "main": [[{ "node": "Config", "type": "main", "index": 0 }]] },
    "Config": { "main": [[{ "node": "Init Run", "type": "main", "index": 0 }]] },
    "Init Run": { "main": [[{ "node": "Read source_registry", "type": "main", "index": 0 }]] },
    "Read source_registry": { "main": [[{ "node": "Filter Enabled Sources", "type": "main", "index": 0 }]] },
    "Filter Enabled Sources": { "main": [[{ "node": "Route by Type", "type": "main", "index": 0 }]] },
    "Route by Type": {
      "main": [
        [{ "node": "RSS Feed Read", "type": "main", "index": 0 }],
        [{ "node": "HTTP Fetch HTML", "type": "main", "index": 0 }]
      ]
    },
    "RSS Feed Read": { "main": [[{ "node": "Normalize RSS", "type": "main", "index": 0 }]] },
    "HTTP Fetch HTML": { "main": [[{ "node": "Normalize HTML", "type": "main", "index": 0 }]] },
    "Normalize RSS": { "main": [[{ "node": "Merge All", "type": "main", "index": 0 }]] },
    "Normalize HTML": { "main": [[{ "node": "Merge All", "type": "main", "index": 1 }]] },
    "Merge All": { "main": [[{ "node": "Dedupe + Filter", "type": "main", "index": 0 }]] },
    "Dedupe + Filter": { "main": [[{ "node": "Build Scoring Prompt", "type": "main", "index": 0 }]] },
    "Build Scoring Prompt": { "main": [[{ "node": "OpenRouter Score", "type": "main", "index": 0 }]] },
    "OpenRouter Score": { "main": [[{ "node": "Parse Scores + Select Mode", "type": "main", "index": 0 }], [{ "node": "Parse Scores + Select Mode", "type": "main", "index": 0 }]] },
    "Parse Scores + Select Mode": { "main": [[{ "node": "Read fallback_library", "type": "main", "index": 0 }]] },
    "Read fallback_library": {
      "main": [[
        { "node": "Build Envelope", "type": "main", "index": 0 },
        { "node": "Build Ranked Rows", "type": "main", "index": 0 }
      ]]
    },
    "Build Envelope": { "main": [[{ "node": "Call Content Factory", "type": "main", "index": 0 }]] },
    "Build Ranked Rows": { "main": [[{ "node": "Append ranked_items_history", "type": "main", "index": 0 }]] },
    "Call Content Factory": { "main": [[{ "node": "Call Delivery", "type": "main", "index": 0 }]] }
  }
}
