n8n/workflows/10_size_comparator.json
{
  "name": "Size_Comparator_MVP",
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Rome"
  },
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "size-recommend",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "trg-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "size-comparator-mvp-webhook-2026"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "c1", "name": "spreadsheetId", "value": "PLACEHOLDER_FASHION_SHEET_ID",       "type": "string" },
            { "id": "c2", "name": "sheetName",      "value": "PLACEHOLDER_FASHION_SHEET_TAB",     "type": "string" },
            { "id": "c3", "name": "modelExtract",   "value": "openai/gpt-4o-mini",                "type": "string" },
            { "id": "c4", "name": "modelFormat",    "value": "anthropic/claude-sonnet-4.5",       "type": "string" },
            { "id": "c5", "name": "user_message",   "value": "={{ $json.body?.user_message ?? $json.user_message ?? '' }}", "type": "string" },
            { "id": "c6", "name": "target_product_url","value": "={{ $json.body?.target_product_url ?? $json.target_product_url ?? '' }}", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "cfg",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [240, 0]
    },
    {
      "parameters": {
        "jsCode": "// Build OpenRouter request body for extraction.\nconst cfg = $json;\nconst system = `Sei un parser deterministico. Estrai dati da un messaggio utente su un capo di abbigliamento che già possiede. Restituisci SOLO JSON valido con questi campi: brand, size_label, product_group, product_type, fit, gender, target_age. Metti null dove non sai. Non inventare. product_group \\u2208 {tops, bottoms}. fit \\u2208 {oversize, regular, slim, relaxed}. gender \\u2208 {men, women, unisex, kids}. target_age \\u2208 {adult, kids, baby}. product_type esempi: tshirt, shirt, hoodie, sweater, blazer, dress, jeans, trousers, shorts.`;\nconst user = `Messaggio: \"${cfg.user_message}\"\\nEstrai i campi. Output JSON only.`;\nreturn [{ json: {\n  ...cfg,\n  openrouter_body: {\n    model: cfg.modelExtract,\n    temperature: 0,\n    max_tokens: 300,\n    response_format: { type: 'json_object' },\n    messages: [\n      { role: 'system', content: system },\n      { role: 'user',   content: user }\n    ]\n  }\n}}];"
      },
      "id": "build-extract",
      "name": "Build Extract Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openRouterApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "X-Title", "value": "Size Comparator Extract" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.openrouter_body) }}",
        "options": { "timeout": 30000, "response": { "response": { "responseFormat": "json" } } }
      },
      "id": "llm-extract",
      "name": "OpenRouter Extract",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 0],
      "credentials": {
        "openRouterApi": { "id": "mpMk74pCZg2Efk6i", "name": "OpenRouter account" }
      },
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "jsCode": "// Parse LLM extraction → structured user_refs. Tolerant to fenced JSON.\nfunction safeParse(s){ if(!s) return null; let t=String(s).trim(); const m=t.match(/```(?:json)?\\s*([\\s\\S]*?)```/i); if(m) t=m[1].trim(); try{return JSON.parse(t);}catch(e){} const a=t.indexOf('{'),b=t.lastIndexOf('}'); if(a>=0&&b>a){ try{return JSON.parse(t.slice(a,b+1));}catch(e){} } return null; }\nconst resp = $json;\nconst choices = resp.choices || (resp.body && resp.body.choices) || [];\nconst raw = choices[0]?.message?.content || '';\nconst parsed = safeParse(raw) || {};\nconst norm = v => (v == null || v === '' ? null : String(v).trim().toLowerCase());\nconst user_ref = {\n  brand: norm(parsed.brand),\n  size_label: parsed.size_label != null ? String(parsed.size_label).trim().toUpperCase() : null,\n  product_group: norm(parsed.product_group),\n  product_type: norm(parsed.product_type),\n  fit: norm(parsed.fit),\n  gender: norm(parsed.gender),\n  target_age: norm(parsed.target_age)\n};\nconst cfg = $('Config').first().json;\nreturn [{ json: { ...cfg, user_ref, extract_raw: raw } }];"
      },
      "id": "parse-extract",
      "name": "Parse Extract",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 0]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "resource": "sheet",
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Config').first().json.spreadsheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Config').first().json.sheetName }}",
          "mode": "name"
        },
        "options": {}
      },
      "id": "read-sheet",
      "name": "Read Size DB",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [1200, 0],
      "credentials": {
        "googleApi": { "id": "VjDfIwHmyAdswLjT", "name": "Google Sheets account" }
      }
    },
    {
      "parameters": {
        "jsCode": "// Normalize + build reference-candidate set and target-size set.\nconst cfg = $('Config').first().json;\nconst user_ref = $('Parse Extract').first().json.user_ref || {};\n\nfunction num(v){\n  if (v==null) return null;\n  if (typeof v==='number') return isFinite(v)?v:null;\n  const s = String(v).trim().replace(',','.');\n  if (!s) return null;\n  // range like \"70 - 76\" or \"70-76\" or \"70 to 76\" → midpoint\n  const range = s.match(/^([0-9]+(?:\\.[0-9]+)?)\\s*(?:-|–|to)\\s*([0-9]+(?:\\.[0-9]+)?)$/i);\n  if (range) {\n    const a = parseFloat(range[1]); const b = parseFloat(range[2]);\n    if (isFinite(a) && isFinite(b)) return (a + b) / 2;\n  }\n  const n = parseFloat(s);\n  return isFinite(n) ? n : null;\n}\nfunction lc(v){ return v==null ? null : String(v).trim().toLowerCase(); }\nfunction upper(v){ return v==null ? null : String(v).trim().toUpperCase(); }\nfunction normGroup(g){\n  if (!g) return null;\n  const s = lc(g);\n  if (['tops','top','shirt','tshirt','t-shirt','hoodie','sweater','blouse','jacket','blazer','outerwear'].some(k=>s.includes(k))) return 'tops';\n  if (['bottoms','pants','trousers','jeans','shorts','skirt'].some(k=>s.includes(k))) return 'bottoms';\n  return null;\n}\n\nconst MEASURES_TOPS    = ['chest','shoulder','sleeve','height'];\nconst MEASURES_BOTTOMS = ['waist','hip','inseam','thigh'];\nconst ALL_MEASURES = [...new Set([...MEASURES_TOPS, ...MEASURES_BOTTOMS, 'neck'])];\n\nconst rows = $input.all().map(i => i.json);\nconst normalized = rows.map(r => {\n  const grp = normGroup(r.ml_product_group) || normGroup(r.taxonomy_l1) || normGroup(r.ml_product_type);\n  const o = {\n    brand: lc(r.brand),\n    product_url: (r.product_url || '').trim(),\n    product_name: r.product_name,\n    ml_product_type: lc(r.ml_product_type),\n    ml_product_subtype: lc(r.ml_product_subtype),\n    ml_product_group: grp,\n    ml_gender: lc(r.ml_gender),\n    ml_target_age: lc(r.ml_target_age),\n    size_label: upper(r.size_label),\n    size_system: r.size_system || null,\n    leaf_category: r.leaf_category\n  };\n  for (const k of ALL_MEASURES) o[k] = num(r[k]);\n  return o;\n});\n\nconst target_url = (cfg.target_product_url || '').trim();\nconst user_group = normGroup(user_ref.product_group) || normGroup(user_ref.product_type);\n\n// Heuristic: if user didn't specify group, try to infer from target rows later.\nreturn [{ json: { ...cfg, user_ref, user_group, target_url, normalized } }];"
      },
      "id": "normalize",
      "name": "Normalize DB",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1440, 0]
    },
    {
      "parameters": {
        "jsCode": "// 1) Determine target-product group (use target rows if user hasn't said).\n// 2) Score reference candidates. 3) Pick best reference.\n// 4) Detect ambiguity → if info is too thin, flag needs_clarification with ONE question.\nconst env = $json;\nconst { user_ref, normalized, target_url } = env;\nlet user_group = env.user_group;\n\nconst MEASURES_TOPS    = ['chest','shoulder','sleeve','height'];\nconst MEASURES_BOTTOMS = ['waist','hip','inseam','thigh'];\n\nconst targetRows = normalized.filter(r => r.product_url && r.product_url === target_url);\nconst targetGroupGuess = (() => {\n  const groups = targetRows.map(r => r.ml_product_group).filter(Boolean);\n  if (!groups.length) return null;\n  const cnt = {}; for (const g of groups) cnt[g] = (cnt[g]||0)+1;\n  return Object.entries(cnt).sort((a,b)=>b[1]-a[1])[0][0];\n})();\nif (!user_group) user_group = targetGroupGuess || null;\n\nconst measures = user_group === 'bottoms' ? MEASURES_BOTTOMS : MEASURES_TOPS;\nfunction usefulMeasuresCount(r, grp){\n  const m = grp === 'bottoms' ? MEASURES_BOTTOMS : (grp === 'tops' ? MEASURES_TOPS : [...MEASURES_TOPS, ...MEASURES_BOTTOMS]);\n  return m.filter(k => r[k] != null).length;\n}\n\nfunction scoreReference(row){\n  let s = 0;\n  if (user_ref.brand && row.brand === user_ref.brand) s += 50;\n  if (user_group && row.ml_product_group === user_group) s += 25;\n  if (user_ref.product_type && row.ml_product_type === user_ref.product_type) s += 15;\n  if (user_ref.product_type && row.ml_product_subtype && row.ml_product_subtype.includes(user_ref.product_type)) s += 10;\n  if (user_ref.gender && row.ml_gender === user_ref.gender) s += 10;\n  if (user_ref.size_label && row.size_label === user_ref.size_label) s += 5;\n  if (user_ref.target_age && row.ml_target_age === user_ref.target_age) s += 3;\n  if (user_ref.fit && row.ml_product_subtype && row.ml_product_subtype.includes(user_ref.fit)) s += 5;\n  const useful = usefulMeasuresCount(row, user_group);\n  if (useful >= 4) s += 10; else if (useful === 3) s += 8; else if (useful === 2) s += 5; else if (useful === 1) s += 2;\n  return s;\n}\n\n// Filter candidates: need brand to match (with contains fallback).\nlet candidates = normalized.filter(r => r.brand && user_ref.brand && r.brand === user_ref.brand);\nif (!candidates.length && user_ref.brand) {\n  const needle = user_ref.brand.toLowerCase();\n  candidates = normalized.filter(r => r.brand && r.brand.toLowerCase().includes(needle));\n}\n// Need at least 1 useful measure overall\ncandidates = candidates.filter(r => usefulMeasuresCount(r, null) >= 1);\n// Prefer same size_label when user provided one\nif (user_ref.size_label) {\n  const sized = candidates.filter(r => r.size_label === user_ref.size_label);\n  if (sized.length) candidates = sized;\n}\n// If user_group is known with confidence, restrict to that group\nif (user_group) {\n  const sameGroup = candidates.filter(r => r.ml_product_group === user_group);\n  if (sameGroup.length) candidates = sameGroup;\n}\n\n// --- Ambiguity detection --------------------------------------------------\n// Reason about which ONE question to ask (if any). Priority:\n//   1. product_group missing AND candidates span multiple groups  → ask type\n//   2. product_type missing AND top candidates span many different types → ask item\n//   3. fit missing AND candidates have mixed slim/regular/oversize subtypes → ask fit\nfunction topK(arr, n=5){ return arr.slice(0, n); }\nconst candGroups = [...new Set(candidates.map(r => r.ml_product_group).filter(Boolean))];\nconst candTypes  = [...new Set(candidates.map(r => r.ml_product_type).filter(Boolean))];\nconst FITS = ['slim','regular','oversize','relaxed'];\nconst candFitHits = new Set();\nfor (const r of candidates) { const sub = r.ml_product_subtype || ''; for (const f of FITS) if (sub.includes(f)) candFitHits.add(f); }\n\n// Only trigger clarification when the user gave genuinely thin context. Count\n// how many signal fields (beyond brand/size) are present; each one sharply\n// narrows the reference. Trigger thresholds are calibrated so that\n// 'Nike M oversize' (fit present) does NOT ask, while 'L di OVS' does.\nconst signalsPresent = ['product_group','product_type','fit','gender'].filter(k => user_ref[k]).length;\nlet clarification = null;\nif (candidates.length === 0) {\n  clarification = { kind:'no_brand_data' };\n} else if (signalsPresent === 0 && !user_ref.product_group && candGroups.length >= 2) {\n  // brand+size only, candidates span multiple macro groups → ask tops vs bottoms\n  clarification = { kind:'product_group', candidates_groups: candGroups, sample_types: topK(candTypes, 6) };\n} else if (signalsPresent === 0 && candTypes.length >= 3) {\n  // brand+size only, many different types → ask item type\n  clarification = { kind:'product_type', candidates_types: topK(candTypes, 8), group: user_group };\n} else if (signalsPresent <= 1 && !user_ref.fit && candFitHits.size >= 2 && candidates.length >= 8) {\n  // still thin + candidates spread across multiple fits → ask fit\n  clarification = { kind:'fit', fits_seen: [...candFitHits] };\n}\n\nconst scored = candidates.map(r => ({ row: r, score: scoreReference(r) })).sort((a,b)=>b.score - a.score);\nconst best = scored[0] || null;\nconst bestScore = best ? best.score : 0;\nconst secondScore = scored[1] ? scored[1].score : 0;\n// Weak-reference heuristic (only for thin-context users): best is tied/near-tied\nif (!clarification && signalsPresent === 0 && best && scored.length >= 3 && (bestScore - secondScore) <= 5 && !user_ref.product_type) {\n  clarification = { kind:'product_type', candidates_types: topK(candTypes, 8), group: user_group };\n}\n\nreturn [{ json: { ...env, user_group, targetRows, reference: best ? { row: best.row, score: best.score, candidates_count: candidates.length } : null, clarification } }];"
      },
      "id": "select-ref",
      "name": "Select Reference",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1680, 0]
    },
    {
      "parameters": {
        "jsCode": "// Score each target size row vs the reference, pick recommended + alternatives.\n// Short-circuit when Select Reference flagged a clarification need.\nconst env = $json;\nconst { user_group, targetRows, reference, clarification } = env;\n\nconst WEIGHTS = {\n  tops:    { chest: 0.5, shoulder: 0.25, sleeve: 0.15, height: 0.10 },\n  bottoms: { waist: 0.5, hip: 0.25, inseam: 0.15, thigh: 0.10 }\n};\nconst STRONG = { tops: 'chest', bottoms: 'waist' };\n\n// Clarification takes precedence — don't recommend with insufficient info.\nif (clarification) {\n  return [{ json: { ...env, result: { ok:false, error:'needs_clarification', confidence:'none', clarification } } }];\n}\nif (!reference) {\n  return [{ json: { ...env, result: { ok:false, error:'no_reference_found', confidence:'none', reference_found:false } } }];\n}\nif (!targetRows || !targetRows.length) {\n  return [{ json: { ...env, result: { ok:false, error:'target_product_not_found', confidence:'none' } } }];\n}\nif (!user_group) {\n  return [{ json: { ...env, result: { ok:false, error:'cannot_infer_product_group', confidence:'none' } } }];\n}\n\nconst refRow = reference.row;\nconst weights = WEIGHTS[user_group] || WEIGHTS.tops;\nconst strongKey = STRONG[user_group];\n\nfunction sizeOrderKey(size_label){\n  if (!size_label) return { kind:'unknown', v:9999 };\n  const s = String(size_label).trim().toUpperCase();\n  const n = parseFloat(s.replace(',','.'));\n  if (isFinite(n)) return { kind:'num', v:n };\n  const alphaOrder = { XXS:1, XS:2, S:3, M:4, L:5, XL:6, XXL:7, '3XL':8, '4XL':9, '5XL':10 };\n  if (alphaOrder[s] != null) return { kind:'alpha', v: alphaOrder[s] };\n  return { kind:'unknown', v: 9999 };\n}\n\nfunction scoreTarget(tgt){\n  let wsum = 0, num = 0;\n  const used = [];\n  for (const [k, w] of Object.entries(weights)) {\n    if (refRow[k] != null && tgt[k] != null && refRow[k] > 0) {\n      const diff = Math.abs(tgt[k] - refRow[k]) / refRow[k];\n      num += diff * w;\n      wsum += w;\n      used.push(k);\n    }\n  }\n  const score = wsum > 0 ? num / wsum : null;\n  return { score, used, has_strong: used.includes(strongKey) };\n}\n\nconst scored = targetRows.map(t => ({ row: t, ...scoreTarget(t) })).filter(x => x.score != null);\nif (!scored.length) {\n  return [{ json: { ...env, result: { ok:false, error:'no_comparable_measurements', confidence:'none', reference_found:true } } }];\n}\n\n// Sort: best score first; also compute size ordering for alternatives\nscored.sort((a,b) => a.score - b.score);\nconst best = scored[0];\n\n// Sort target rows by a consistent size order to find neighbors of best\nconst orderKeyOf = r => sizeOrderKey(r.size_label).v;\nconst orderedByLabel = [...scored].sort((a,b) => orderKeyOf(a.row) - orderKeyOf(b.row));\nconst bestIdx = orderedByLabel.findIndex(x => x.row.size_label === best.row.size_label && x.row.product_url === best.row.product_url);\nconst smaller = bestIdx > 0 ? orderedByLabel[bestIdx-1] : null;\nconst larger  = bestIdx >= 0 && bestIdx < orderedByLabel.length - 1 ? orderedByLabel[bestIdx+1] : null;\n\n// Confidence\nlet confidence = 'low';\nif (best.score <= 0.05 && best.has_strong) confidence = 'high';\nelse if (best.score <= 0.10 && best.has_strong) confidence = 'medium';\nelse if (best.score <= 0.10) confidence = 'medium';\nelse confidence = 'low';\n\nconst result = {\n  ok: true,\n  reference_found: true,\n  reference: {\n    brand: refRow.brand,\n    product_name: refRow.product_name,\n    product_url: refRow.product_url,\n    size_label: refRow.size_label,\n    ml_product_type: refRow.ml_product_type,\n    measurements: Object.fromEntries(Object.keys(weights).map(k => [k, refRow[k] ?? null]))\n  },\n  recommended_size: best.row.size_label,\n  recommended_score: best.score,\n  measurements_used: best.used,\n  confidence,\n  alternative_smaller: smaller ? { size_label: smaller.row.size_label, score: smaller.score } : null,\n  alternative_larger:  larger  ? { size_label: larger.row.size_label,  score: larger.score  } : null,\n  group: user_group,\n  target_product_url: env.target_url,\n  reference_match_score: reference.score,\n  candidates_count: scored.length\n};\nreturn [{ json: { ...env, result } }];"
      },
      "id": "score-target",
      "name": "Score Target Sizes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1920, 0]
    },
    {
      "parameters": {
        "jsCode": "// Build the OpenRouter body for formatting the final natural-language answer.\nconst env = $json;\nconst cfg = $('Config').first().json;\nconst user_ref = $('Parse Extract').first().json.user_ref;\nconst result = env.result || {};\n\nconst system = `Sei un assistente taglie. Scrivi UNA risposta breve (1-3 frasi) in italiano, prima persona, tono semplice, non tecnico. NON mostrare score numerici. Segui il risultato strutturato. Non inventare.\\n\\nGestione dei casi:\\n- result.ok=true: suggerisci recommended_size. Se presente alternative_smaller o alternative_larger, menzionala solo se utile.\\n- result.error='needs_clarification': NON dare una raccomandazione. Fai UNA sola domanda chiarificatrice, pertinente e concreta, basata su result.clarification.kind:\\n   * kind='product_group' → chiedi se è un top (maglietta, felpa, giacca) o un bottom (pantaloni, shorts, gonna).\\n   * kind='product_type' → chiedi il tipo specifico, elencando 3-4 opzioni prese da result.clarification.candidates_types (es: 'è una maglietta, una felpa, una camicia o una giacca?').\\n   * kind='fit' → chiedi se il capo di riferimento è slim, regular o oversize (segnala i fit visti in clarification.fits_seen).\\n   * kind='no_brand_data' → spiega cortese che non hai abbastanza dati su quel brand.\\n- result.error='target_product_not_found' → spiega che non hai trovato il prodotto specifico; chiedi se vuole mandarti il link.\\n- result.error='no_reference_found' → chiedi il brand del capo di riferimento.\\n- result.error='no_comparable_measurements' → spiega che le misure disponibili non sono confrontabili (probabilmente categorie diverse).\\n- result.error='cannot_infer_product_group' → chiedi se è un top o un bottom.`;\n\nconst user = JSON.stringify({ user_message: cfg.user_message, user_ref, result });\nreturn [{ json: {\n  ...env,\n  openrouter_body: {\n    model: cfg.modelFormat,\n    temperature: 0.4,\n    max_tokens: 400,\n    messages: [\n      { role: 'system', content: system },\n      { role: 'user',   content: `Dato questo JSON, formula la risposta finale:\\n${user}` }\n    ]\n  }\n}}];"
      },
      "id": "build-format",
      "name": "Build Format Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2160, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openRouterApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "X-Title", "value": "Size Comparator Format" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.openrouter_body) }}",
        "options": { "timeout": 30000, "response": { "response": { "responseFormat": "json" } } }
      },
      "id": "llm-format",
      "name": "OpenRouter Format",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2400, 0],
      "credentials": {
        "openRouterApi": { "id": "mpMk74pCZg2Efk6i", "name": "OpenRouter account" }
      },
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "jsCode": "// Assemble the final webhook response payload.\nconst resp = $json;\nconst choices = resp.choices || (resp.body && resp.body.choices) || [];\nconst message = (choices[0]?.message?.content || '').trim() || 'Non sono riuscito a formulare una risposta, riprova.';\nconst env = $('Score Target Sizes').first().json;\nconst user_ref = $('Parse Extract').first().json.user_ref;\nreturn [{ json: {\n  message,\n  user_ref,\n  result: env.result\n}}];"
      },
      "id": "build-resp",
      "name": "Build Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2640, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2880, 0]
    }
  ],
  "connections": {
    "Webhook":             { "main": [[{ "node": "Config",                "type": "main", "index": 0 }]] },
    "Config":              { "main": [[{ "node": "Build Extract Prompt",  "type": "main", "index": 0 }]] },
    "Build Extract Prompt":{ "main": [[{ "node": "OpenRouter Extract",    "type": "main", "index": 0 }]] },
    "OpenRouter Extract":  { "main": [[{ "node": "Parse Extract",         "type": "main", "index": 0 }]] },
    "Parse Extract":       { "main": [[{ "node": "Read Size DB",          "type": "main", "index": 0 }]] },
    "Read Size DB":        { "main": [[{ "node": "Normalize DB",          "type": "main", "index": 0 }]] },
    "Normalize DB":        { "main": [[{ "node": "Select Reference",      "type": "main", "index": 0 }]] },
    "Select Reference":    { "main": [[{ "node": "Score Target Sizes",    "type": "main", "index": 0 }]] },
    "Score Target Sizes":  { "main": [[{ "node": "Build Format Prompt",   "type": "main", "index": 0 }]] },
    "Build Format Prompt": { "main": [[{ "node": "OpenRouter Format",     "type": "main", "index": 0 }]] },
    "OpenRouter Format":   { "main": [[{ "node": "Build Response",        "type": "main", "index": 0 }]] },
    "Build Response":      { "main": [[{ "node": "Respond",               "type": "main", "index": 0 }]] }
  }
}
