n8n/workflows/20_imgclassify_worker.json
{
  "name": "ImgClassify_Worker",
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Rome",
    "executionTimeout": 3600
  },
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "imgclassify-worker",
        "responseMode": "onReceived",
        "responseCode": 202,
        "responseData": "noData",
        "options": {}
      },
      "id": "trg",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "imgclassify-worker-webhook-2026"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "c1", "name": "spreadsheetId",  "value": "1yIzIep-XdRV7EVeWhjdpUps1PlF7tN6KymRjRgXGtuk", "type": "string" },
            { "id": "c2", "name": "sheetName",       "value": "image_classification",                     "type": "string" },
            { "id": "c3", "name": "geminiModel",     "value": "gemini-2.5-flash-lite",                    "type": "string" },
            { "id": "c6", "name": "files",           "value": "={{ $json.body?.files ?? $json.files ?? [] }}",   "type": "array" },
            { "id": "c7", "name": "shard_id",        "value": "={{ $json.body?.shard_id ?? $json.shard_id ?? 'manual' }}", "type": "string" },
            { "id": "c8", "name": "run_id",          "value": "={{ $json.body?.run_id ?? $json.run_id ?? ('run_' + $now.toMillis()) }}", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "cfg",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [240, 0]
    },
    {
      "parameters": {
        "jsCode": "// One item per file (the SplitInBatches downstream will group them in chunks of batchSize).\nconst cfg = $input.first().json;\nconst files = Array.isArray(cfg.files) ? cfg.files : [];\nreturn files.map(f => ({ json: { id: f.id, name: f.name, mimeType: f.mimeType || 'image/jpeg', shard_id: cfg.shard_id, run_id: cfg.run_id } }));"
      },
      "id": "fanout",
      "name": "Fan Out Files",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 0]
    },
    {
      "parameters": {
        "batchSize": 50,
        "options": {}
      },
      "id": "loop",
      "name": "Batch Loop",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [720, 0]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "download",
      "name": "Drive Download",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [960, 120],
      "credentials": {
        "googleDriveOAuth2Api": { "id": "ZVxONwG8Bv78yQ5L", "name": "Google Drive account" }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Convert each binary into base64 + re-attach original file metadata\n// (Drive Download replaces the item, so we look up {id,name,shard_id,run_id}\n//  from Fan Out Files via itemMatching on the paired index).\nconst items = $input.all();\nconst out = [];\nfor (let i = 0; i < items.length; i++) {\n  const it = items[i];\n  let orig = {};\n  try { orig = $('Fan Out Files').itemMatching(i).json || {}; } catch(e) { orig = it.json || {}; }\n  let imageBase64 = null, imageMimeType = null;\n  try {\n    const buf = await this.helpers.getBinaryDataBuffer(i, 'data');\n    imageBase64 = buf.toString('base64');\n    imageMimeType = (it.binary && it.binary.data && it.binary.data.mimeType) || orig.mimeType || 'image/jpeg';\n  } catch(e) {\n    out.push({ json: { ...orig, _download_error: String(e) } });\n    continue;\n  }\n  out.push({ json: { ...orig, imageBase64, imageMimeType } });\n}\nreturn out;"
      },
      "id": "to-b64",
      "name": "To Base64",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 120]
    },
    {
      "parameters": {
        "jsCode": "// Build the Gemini generateContent body (per item) with structured output + 5-category prompt.\nconst cfg = $('Config').first().json;\nconst inp = $json;\nif (inp._download_error) {\n  return { json: { ...inp, _skip_llm: true } };\n}\nconst prompt = `Sei un classificatore esperto di immagini e-commerce alimentari di Eataly. Classifica ogni immagine in UNA SOLA delle 5 categorie qui sotto.\\n\\n1) FRONT\\n  - Prodotto confezionato visto FRONTALMENTE (logo centrato, lati assenti o trascurabili).\\n  - Vale anche se ci sono piccoli \\\"props\\\" alimentari accanto (fettina di pane vicino al vasetto di marmellata, qualche maccherone vicino al pacco di pasta).\\n  - Vale SEMPRE per BUNDLE e CESTI (set di piu prodotti come unico SKU), a prescindere dall'angolo di scatto.\\n\\n2) NUDO_PACK\\n  - Confezione + prodotto \\\"sfuso\\\" della STESSA SKU, visibili nella stessa immagine.\\n  - Esempi: uovo di Pasqua + scatola, parmigiano confezionato + cuneo di formaggio, panettone + scatola.\\n  - La confezione DEVE essere visibile insieme al prodotto sfuso.\\n\\n3) TOP\\n  - Prodotto confezionato visto DALL'ALTO (asse di scatto perpendicolare al piano).\\n  - Solo se l'angolo e chiaramente verticale; un'angolazione lieve = TREQUARTI o FRONT.\\n\\n4) TREQUARTI\\n  - Prodotto confezionato a 3/4: si vede chiaramente uno spigolo laterale (>=15% del lato).\\n  - Se il lato e appena accennato (<15%) -> FRONT, non TREQUARTI.\\n  - Bundle/cesti -> restano FRONT anche se scattati a tre quarti.\\n\\n5) SET\\n  - Prodotto NON confezionato, presentato su tagliere, piatto, coppa o ciotola.\\n  - Nessuna confezione visibile.\\n  - Vale anche per composite di piu prodotti diversi serviti insieme (es. cuneo di formaggio + crackers su tagliere).\\n\\nREGOLE\\n- Una sola categoria. Non inventare etichette.\\n- In dubbio FRONT vs TREQUARTI -> FRONT.\\n- In dubbio NUDO_PACK vs SET -> confezione visibile? NUDO_PACK; nessuna confezione? SET.\\n- Bundle/cesti = sempre FRONT.\\n\\nCONFIDENCE (0-100)\\n- 90-100: estremamente sicuro\\n- 70-89: sicuro\\n- 50-69: incerto\\n- <50: molto incerto\\n\\nNEEDS_HUMAN_REVIEW\\n- true se confidence < 70\\n- false se confidence >= 70\\n\\nOUTPUT: SOLO JSON valido, nessun testo extra.`;\nconst body = {\n  contents: [{\n    parts: [\n      { inline_data: { mime_type: inp.imageMimeType, data: inp.imageBase64 } },\n      { text: prompt }\n    ]\n  }],\n  generationConfig: {\n    temperature: 0,\n    maxOutputTokens: 256,\n    responseMimeType: 'application/json',\n    responseJsonSchema: {\n      type: 'object',\n      properties: {\n        output:             { type: 'string', enum: ['FRONT','NUDO_PACK','TOP','TREQUARTI','SET'] },\n        confidence:         { type: 'integer', minimum: 0, maximum: 100 },\n        needs_human_review: { type: 'boolean' }\n      },\n      required: ['output','confidence','needs_human_review']\n    }\n  }\n};\nreturn { json: { ...inp, _gemini_body: body, _model: cfg.geminiModel } };",
        "mode": "runOnceForEachItem"
      },
      "id": "build-prompt",
      "name": "Build Gemini Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1440, 120]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/{{ $json._model }}:generateContent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googlePalmApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json._gemini_body) }}",
        "options": {
          "timeout": 60000,
          "response": { "response": { "responseFormat": "json" } }
        }
      },
      "id": "llm",
      "name": "Gemini Classify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1680, 120],
      "credentials": {
        "googlePalmApi": { "id": "hDQOMRtCGOdU7Wqp", "name": "Google Gemini(PaLM) Api account" }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Per-item parser: emits one row formatted for the sheet, with the destination\n// folder already resolved so the downstream Drive Move can use it directly.\nfunction safeParse(s){\n  if (!s) return null;\n  let t = String(s).trim();\n  const m = t.match(/```(?:json)?\\s*([\\s\\S]*?)```/i);\n  if (m) t = m[1].trim();\n  try { return JSON.parse(t); } catch(e){}\n  const a=t.indexOf('{'),b=t.lastIndexOf('}');\n  if (a>=0&&b>a){ try{ return JSON.parse(t.slice(a,b+1)); }catch(e){} }\n  return null;\n}\nconst VALID = ['FRONT','NUDO_PACK','TOP','TREQUARTI','SET'];\nconst FOLDERS = {\n  FRONT:        '15-oP9cJmzs5SQh0hyAhp1hTdi8ZDZBqR',\n  NUDO_PACK:    '1pF6VshXDBte386yzsyzdW4fYoDfDsYzH',\n  TOP:          '125a6QB5UJl22bozKWEQlyNDQaeDeL6K7',\n  TREQUARTI:    '1qIxk1bzfzLy-lB5XUUk_WSfOISPsvLoy',\n  SET:          '1CSIyBUbQe-aSzDUiJpnyh0KoZ17y0V0s',\n  HUMAN_REVIEW: '10WbxpW9feowuLZ9nTilLtlFjWnUNdso1',\n  FAILED:       '1cbAjxtdP1PmnAvprX9SdgMf5DvCd_wa2'\n};\nconst SOURCE_FOLDER = '1vUrxw22LWZkkeDwGNO1P4sc8FK3Z3v2g';\nconst inp = $json;\nlet orig = {};\ntry { orig = $('Fan Out Files').itemMatching($itemIndex).json || {}; } catch(e) { orig = {}; }\nconst id = orig.id || inp.id || '';\nconst name = orig.name || inp.name || '';\nconst run_id = orig.run_id || inp.run_id || '';\nconst shard_id = orig.shard_id || inp.shard_id || '';\nlet output = '', confidence = 0, needs_human_review = true, parsing_error = null;\nif (inp._download_error) {\n  output = 'ERRORE_DOWNLOAD'; parsing_error = inp._download_error;\n} else {\n  const respRoot = inp.candidates ? inp : (inp.body || {});\n  const choices = respRoot.candidates || [];\n  let rawText = '';\n  if (choices[0] && choices[0].content && choices[0].content.parts) {\n    rawText = (choices[0].content.parts.map(p => p.text || '').join(' ') || '').trim();\n  }\n  const parsed = safeParse(rawText);\n  if (parsed && typeof parsed === 'object') {\n    output = String(parsed.output ?? '').trim().toUpperCase().replace(/ /g,'_');\n    confidence = Math.max(0, Math.min(100, Number(parsed.confidence ?? 0) || 0));\n    needs_human_review = (typeof parsed.needs_human_review === 'boolean') ? parsed.needs_human_review : (confidence < 70);\n    if (!VALID.includes(output)) {\n      parsing_error = `categoria_non_valida:${output}`;\n      output = 'ERRORE_VALIDAZIONE';\n      confidence = 0; needs_human_review = true;\n    }\n  } else {\n    parsing_error = 'json_malformato';\n    output = 'NON_DETERMINATO';\n  }\n}\n// Decide where to move the file\nconst isFailure = parsing_error || ['ERRORE_DOWNLOAD','ERRORE_VALIDAZIONE','NON_DETERMINATO'].includes(output);\nlet dest_folder_id, cluster;\nif (isFailure) { dest_folder_id = FOLDERS.FAILED; cluster = 'failed'; }\nelse if (confidence < 70) { dest_folder_id = FOLDERS.HUMAN_REVIEW; cluster = 'review'; }\nelse { dest_folder_id = FOLDERS[output] || FOLDERS.FAILED; cluster = 'auto'; }\nreturn { json: {\n  ID: id,\n  'Nome immagine': name,\n  Classificazione: output,\n  Confidence: confidence,\n  Cluster: cluster,\n  dest_folder_id,\n  source_folder_id: SOURCE_FOLDER,\n  run_id, shard_id,\n  parsing_error\n}};"
      },
      "id": "parse",
      "name": "Parse Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1920, 120]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "resource": "sheet",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Config').first().json.spreadsheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Config').first().json.sheetName }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "append",
      "name": "Batch Append",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [2160, 120],
      "credentials": {
        "googleApi": { "id": "VjDfIwHmyAdswLjT", "name": "Google Sheets account" }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://www.googleapis.com/drive/v3/files/{{ $json.ID }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "addParents",    "value": "={{ $json.dest_folder_id }}" },
            { "name": "removeParents", "value": "={{ $json.source_folder_id }}" },
            { "name": "supportsAllDrives", "value": "true" },
            { "name": "fields",        "value": "id,parents" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "move",
      "name": "Drive Move",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2400, 120],
      "credentials": {
        "googleDriveOAuth2Api": { "id": "ZVxONwG8Bv78yQ5L", "name": "Google Drive account" }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Webhook":          { "main": [[{ "node": "Config", "type": "main", "index": 0 }]] },
    "Config":           { "main": [[{ "node": "Fan Out Files", "type": "main", "index": 0 }]] },
    "Fan Out Files":    { "main": [[{ "node": "Batch Loop", "type": "main", "index": 0 }]] },
    "Batch Loop":       { "main": [[], [{ "node": "Drive Download", "type": "main", "index": 0 }]] },
    "Drive Download":   { "main": [[{ "node": "To Base64", "type": "main", "index": 0 }]] },
    "To Base64":        { "main": [[{ "node": "Build Gemini Body", "type": "main", "index": 0 }]] },
    "Build Gemini Body":{ "main": [[{ "node": "Gemini Classify", "type": "main", "index": 0 }]] },
    "Gemini Classify":  { "main": [[{ "node": "Parse Result", "type": "main", "index": 0 }]] },
    "Parse Result":     { "main": [[{ "node": "Batch Append", "type": "main", "index": 0 }]] },
    "Batch Append":     { "main": [[{ "node": "Drive Move", "type": "main", "index": 0 }]] },
    "Drive Move":       { "main": [[{ "node": "Batch Loop", "type": "main", "index": 0 }]] }
  }
}
